body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 3em;
  background-color: #f4f4f4;
  max-width: 50em;
}

#link {
  display: flex;
  font-weight: bold;
  justify-content: right;
  color: black;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
